header {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    line-height:normal;
    background-color: $primary-color;
    padding: 0 4vmin;
    z-index: 1;
    flex-wrap: wrap;

    .header_title {
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
        padding-top: 2vmin;
    }

    .header_menu {
        color: #daf2fd;
        font-weight: 600;
        display: inline;
        flex-wrap: wrap;
        align-items: center;
        background-color: $primary-color;
        
        padding-top: 3vmin;
    }

    ul {
        padding-left: 0;
    }

    li {
        margin-left: 20px;
    }

    a {
        color: #e5eff5;
        text-decoration: none;
    }

    a:-webkit-any-link {
        cursor: pointer;
        //color: white;
    }

    a:hover {
        color: white;
    }
}

header * {
    display: inline;
    min-height: 50px;
    
}