$fonts: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
$primary-color: #120fd7;
$accent1-color: #0F70D7;
$accent2-color: #760FD7;
$spacing: 2rem;
$dark-grey: #999;
$title-color:#6DB79F;
$footer-color:black;
$font-post: Georgia, Times, serif;
$post-font-size: 1.3rem;
