@import 'variables';
@import 'mixins';
@import 'card';
@import 'header';
@import 'main-title';

#content {
    margin-top: 100px;
}
html {
    box-sizing: border-box;
}

body {
    font-family: $fonts;
    background-color: white;
    //padding: $spacing;
    min-height: 100vh;
    //@include flex-center();
    margin: 0;
    //margin-top: 50px;

    
}
/*     @include flex-center(); */

bottom {
    display: block;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -.015em;
    line-height: 1.15;
    text-rendering: optimizeLegibility;
}

p {
    font-size: 2rem;
    font-weight: 400;
}
